<script src="https://cdn.jsdelivr.net/npm/@webcomponents/webcomponentsjs@2/webcomponents-loader.min.js"></script>
<script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@1/src/zero-md.min.js"></script>
<section class="content" id="contentPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <zero-md src="https://raw.githubusercontent.com/tantran1012/HotelManager/master/README.md">
                        </zero-md>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>