  <link rel="stylesheet" type="text/css" href="/js/DataTables/datatables.min.css" />
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Danh sách các phòng hiện có tại khách sạn</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Loại phòng</th>
                    <th>Tình trạng</th>
                    <th>Đơn giá</th>
                    <th>Chi tiết</th>
                  </tr>
                  </thead>
                  <tbody>
                  {{#each rooms}}
                  <tr>
                      <td>{{this.ID}}</td>
                      <td>{{this.LoaiPhong}}
                      </td>
                      <td>{{this.TinhTrang}}</td>
                      <td>NULL</td>
                      <td>NULL</td>
                  </tr>
                  {{/each}}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Tên phòng</th>
                    <th>Loại phòng</th>
                    <th>Đơn giá</th>
                    <th>Chi tiết</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

<script src="js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/js/DataTables/datatables.min.js"></script>
</script>
<script>
 $(document).ready(function () {
    $("#example2").DataTable();
      });
</script>
