<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <form action="/accounts/savePassword" method="POST" id="editPasswordForm">
        <div class="card">
            <div class="card-body row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="inputName">Mật Khẩu Hiện Tại</label>
                        <input type="password" id="MKHienTai" class="form-control" name="mkhientai" />
                    </div>
                    <div class="form-group">
                        <label for="inputName">Mật Khẩu Mới</label>
                        <input type="password" id="MKMoi" class="form-control" name="mkmoi" />
                    </div>
                    <div class="form-group">
                        <label for="inputName">Nhập Lại Mật Khẩu Mới</label>
                        <input type="password" id="NhapLai" class="form-control" name="nhaplai" />
                    </div>
                    <div class="form-group text-right">
                        <input type="submit" class="btn btn-primary" value="Lưu">
                        <a class="btn btn-secondary" href="/accounts/myProfile">Hủy</a>
                    </div>
                </div>
            </div>
            {{#if message }}
            <h6 class="alert alert-danger mt-4">{{message}}</h6>
            {{/if}}
        </div>
    </form>

</section>
<!-- /.content -->